<form [formGroup]="form" (ngSubmit)="onLogin()"
      class="container d-flex flex-column justify-content-around align-items-center">

  <input type="text" class="form-control m-2" formControlName="username" placeholder="Username"
         [ngClass]="{'is-invalid': !username?.valid && username?.touched }" />
  <small class="text-danger" *ngIf="!username?.valid && username?.touched">Inserisci un username valido<br /></small>
  <input type="password" class="form-control m-2" formControlName="password" placeholder="Password"
         [ngClass]="{'is-invalid': !password?.valid && password?.touched }" />
  <small class="text-danger" *ngIf="!password?.valid && password?.touched">Inserisci una password valida<br /></small>
  <button class="btn btn-info m-2" type="submit" [disabled]="!form.valid">Login</button>

</form>
